!!!
%html{html_attrs}
  %head
    %title get to work
  %body
    #site
      #header
        %h1 Get To Work
        .menu
          - if person_signed_in?
            = link_to current_person.login, dashboard_person_path
            = link_to "dashboard", dashboard_person_path
            = link_to "logout", destroy_person_session_path
          - else
            = link_to "login", new_person_session_path
            = link_to "register", new_person_path
      #content
        = yield